<p>
  <u> App Component </u>
  <br />
  <br />

  Original Text from App Component
  <input style="margin-left: 10px;" [(ngModel)]="appComponentOriginalText" />

  <br />
  <br />

  <span >Button in Child 1 is clicked <strong [style.background-color]="bgColor" style="padding:6px;color:white;"> {{ times }} times </strong></span>
  <br />
  <br />
</p>


<app-child1 [childMessage]="appComponentOriginalText" (clickedCountEvent)="getCount($event)"></app-child1>

<app-child2 [childMessage]="appComponentOriginalText"></app-child2>
